body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    background-color: grey;

}

.grid-container {
    display: flex;
    flex-grow: 1;
    height: 500px;
    width: 500px;
    background-color: white;
}

.grid-column {
    display: flex;
    flex-direction: column;
}

.grid-container div {
    flex-grow: 1;
}

.colored {
    background-color: black;
}